.table {
                border-collapse: collapse;
                padding-left: 10px;
                padding-right: 10px;
      }
.th {
    background-color:green;
    Color:white;

}
.th, td {
    width:160px;
    text-align:center;0
    border:1px solid black;
    padding:5px

}
.g1 {
                border-right:hidden;
    }
.gfg {
                  border-collapse:separate;
                border-spacing:0 15px;
            }
            .h1 {
                color:green;
            }
